<p id="notice"><%= notice %></p>

<h1>Response Analysis</h1>
<br />
<strong>Text:</strong> <%= @response.text %>
<br />
<br />
<strong>Key Phrases:</strong>
<br />
<% @analyses.each do |analysis| %>
  <br />
  <strong>Phrase:</strong> <%= analysis.phrase %><br />
  <strong>Score:</strong> <%= analysis.score.to_f %><br />
  <br />
<% end %>

<br />
<%= link_to 'Enter New Responses', new_response_path, class: 'btn btn-primary btn-lg', role: "button" %>
<br />
